  .flex-container-shopping {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly; 
    padding: 0rem;
    margin-top: 2rem;
    list-style: none;
    gap: 3rem 0rem;   
    /* height: 100vh; */

}

.flex-item-shopping {
    padding: 0 2.5rem 0 2.5rem;
    width: 20%;
    /* height: 450px;  */
    /* margin-top: 10px; */
    /* color: white; */
    background-color: #BD280A;
    /* background-color: white; */
    /* background-color: #640511; */
    font-size: 1em;
    margin-top: -10%;
    margin-left: auto;
    padding-top: 16%;
    padding-bottom: 7%;
    order: 2;
    display:flex;
    min-height: 100vh;
    /* right: 0;
    position: fixed; */
    /* overflow-y:scroll */
    /* align-items: stretch; */
}

.fixed-elements {
    position: fixed;
    padding-right: 2.5rem;
    height:100%;
    
    /* background-color: #BD280A; */
    /* height: 100vh; */
}

.container-cart {
    /* display: flex; */
    width: 50rem;
    flex-flow: column;
    order: 1;
    /* align-items: stretch; */
}

.cart-item-nak-order {
    border-radius: 0.3rem;
    border: 2px solid #BD280A;
  
    width: 90%;
    height: 45px;
    margin: 1rem 3rem;
    padding: 1em 2em 1em 1em;
 
    justify-content:space-around;
    display: flex;
    align-items:center;
    flex-shrink: 1;
}

.cart-item {
    border-radius: 0.3rem;
    /* border: 1px solid #D9CFC1; */
    border: 1px solid #BD280A;
    /* border: 1px solid #EECA81; */
    /* flex-grow: 2; */
    width: 100%;
    height: 45px;
    margin: 1rem 3rem;
    padding: 1em 2em 1em 1em;
    /* width: 100%; */
    justify-content:space-around;
    display: flex;
    align-items:center;
    flex-shrink: 1;
}

.cart-flush-left {
    margin-right: auto;
    align-items: center;
  }

.cart-flush-right {
    margin-left: auto;
  }

.cart-space-even {
    grid-template-columns: 2fr 1fr 1fr;
    display: inline-grid;
    align-items: center;
    margin: 0 0 0 5em;
    /* justify-content:space-evenly; */
    flex-grow: 1;
    /* background-color: lavender; */
}

.cart-item-name {
    font-family: "Ame";   
    line-height: 1.5rem;
    font-size: 1rem;
    text-transform: uppercase;
    color: #D9CFC1;
}

.cart-item-price {
    font-size: 1.3rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 300;
}

.cont-browse {
    text-transform: uppercase;
    font-size: 0.8rem;
    letter-spacing: 0.1rem;
    margin-top: 1em;
    text-align: center;
    width:95%;
    color: tan;
    
    /* align-self:center; */
}


.subtotal-grid {
    grid-template-columns: 1fr 1fr;
    display: inline-grid;
    width:95%;
    align-items:flex-start;
    margin: 0 2em 2em 0;
    /* justify-content:space-evenly; */
    flex-grow: 1;
}

.subtotal-keys {
    line-height: 2rem;
    font-size: 0.9rem;
}

.subtotal-keys-total {
    font-size: 1rem;
    font-weight: 800;
}

.subtotal-value {
    align-items:flex-end;
    text-align: right;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.2rem;
    line-height: 2rem;

}
.subtotal-value-total {
    font-size: 1.3rem;
    font-weight: 800;
}

.order-sum-text {
    font-family: "Ame";   
    line-height: 2rem;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    /* color:#EECA81; */
    color: tan;
    /* text-transform: uppercase; */

}

button.continue {
    display:inline-block;
    padding:1.45em 3em;
    border:0.16em solid #D9CFC1;
    margin:0 0.3em 0.3em 0;
    box-sizing: border-box;
    text-decoration:none;
    text-transform:uppercase;
    font-size: 0.7rem;
    letter-spacing: 0.1rem;
    width:95%;
    /* font-weight:400; */
    color:#D9CFC1;
    text-align:center;
    transition: all 0.15s;
    background-color: rgba(0, 0, 0, 0);
}

button.continue:hover {
    color:#28050A;
    border-color:#D9CFC1;
    background-color: #D9CFC1;
    cursor:pointer;
}
    
button.continue:active {
    color:#D9CFC1;
    border-color:#D9CFC1;
}

.row-checkout {
    display: flex;
    align-items:flex-end;
    justify-content:space-around;
    text-transform: uppercase;
    font-size: 0.55rem;
    letter-spacing: 0.2rem;
    max-width: 50%;
    margin: 0 3rem;
    color: #BD280A;
    
}

.row-checkout > div.active {
    font-weight: bold;
  }

.contain-row-checkout {
    width:80%;
}

.borang-address {
    border-radius: 0.3rem;
    border: 2px solid #BD280A;
    /* flex-grow: 2; */
    width: 80%;
    /* height: 45px; */
    margin: 1rem 3rem;
    padding: 2em;
    margin-bottom: 3rem;
    /* width: 100%; */
    justify-content:space-around;
    display: block;
    align-items:center;
    flex-shrink: 1;
}

input.isiborang {
    display:inline-block;
    padding:1.45em 3em;
    border:none;
    border-bottom:1px solid #AF8D86;
    margin:0.3em 0.3em 1em 0;
    box-sizing: border-box;
    text-decoration:none;
    text-transform:uppercase;
    font-size: 0.7rem;
    letter-spacing: 0.1rem;
    width:100%;
    /* font-weight:400; */
    color:#D9CFC1;
    text-align:left;
    transition: all 0.15s;
    background-color: rgba(0, 0, 0, 0);
}



label.isiborang {
    text-transform: uppercase;
    font-size: 0.6rem;
    font-weight: 700;
    letter-spacing: 0.2rem;
    color:tan;
    
}

.order-items-price-qty {
    text-transform:uppercase;
    font-size: 0.8rem;
    letter-spacing: 0.1rem;
}


.items-in-success {
    display: flex;
    align-items:center;
    justify-content:space-around;
    /* text-transform: uppercase;
    font-size: 0.55rem;
    letter-spacing: 0.2rem;
    max-width: 50%;
    margin: 0 3rem; */
    
}

.thanks-container {
    background-color: #BA3F1D;
    /* width: 450px; */
    padding:2rem;
    padding-right:5rem;
    position: relative;
    margin-left: -12rem;
    /* position: relative; */
    /* float: right; */
    /* margin: auto; */
}

.thanks {
    font-family: "Ame";   
    line-height: 4rem;
    font-size: 3rem;
    /* text-transform: uppercase; */
}

.order-confirmed {
    font-family: "Ame";   
    /* line-height: 2.8rem; */
    font-size: 0.7rem;
    font-weight: 700;
    padding-left: 0.5rem;
    letter-spacing: 0.3rem;
    text-transform: uppercase;
}

.p-thanks {
    padding:2rem 0 0 0.5rem;
    font-size: 1rem;
    line-height: 1rem;
}

.p-login {
    padding:2rem 0 0 0.5rem;
    font-size: 0.65rem;
    letter-spacing: 0.1rem;
    line-height: 1rem;
    text-align: center;
    text-transform: uppercase;
}

.p-login-bold {
    font-weight: 600;
}

.center-pls {
    margin:auto;
    display:flex;
}

button.browse {
    display:inline-block;
    padding:1.45em 3em;
    border:0.16em solid #D9CFC1;
    margin: auto;
    margin-top: 1rem;
    box-sizing: border-box;
    text-decoration:none;
    text-transform:uppercase;
    font-size: 0.7rem;
    letter-spacing: 0.1rem;
    width: 80%;
    /* font-weight:400; */
    color:#D9CFC1;
    text-align:center;
    transition: all 0.15s;
    background-color: rgba(0, 0, 0, 0);
}

button.browse:hover {
    border-color:#D9CFC1;
    background-color: #D9CFC1;
    color:#081c15;
    cursor: pointer;
}
    
button.browse:active {
    color:#D9CFC1;
    border-color:#D9CFC1;
}



.address-details {
    border-radius: 0.3rem;
    border: 2px solid #BD280A;
    /* flex-grow: 2; */
    /* display: inline-block; */
    width: 95%;
    /* width: 50%; */
    /* height: 45px; */
    margin: 0rem 0rem 3rem 3rem;
    /* margin-bottom: 3rem; */
    padding: 1em 0em 1em 1em;
    /* justify-content:space-around; */
    display: flex;
    /* align-items:center; */
    flex-shrink: 1;
    font-size: 0.9rem;
    /* position: absolute; */
}

.address-details-bold {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 0.8rem;
}

.empty-cart{
    margin: 3rem;
    font-size: 1.5rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    /* font-weight: 100; */
    color:#af8d86;
}

.empty-cart-bold{
    font-size: 1.5rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 700;
    /* background-color: #BD280A; */
    /* padding:1em; */
    color:#af8d86;
}

.empty-cart-bold:hover {
    color: white;
    transition: all 0.15s;
}