body {
    background-color: #081c15;
      color:#D9CFC1;
}

.flex-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly; 
    padding: 0;
    margin: 2rem;
    list-style: none;
    gap: 3rem 0rem;   
}

.flex-item {
    /* background: tomato; */
    padding: 5px;
    width: 450px;
    height: 450px;
    /* margin-top: 10px; */
    color: white;
    font-size: 1em;
}

img{
    /* filter: saturate(110%); */
    filter: brightness(1.1);
}

img.index {
    object-fit: cover;
    width:24rem;
    height:24rem;
    /* min-width: 20rem; */
    max-height: 100%;
    margin: 2rem;
  }

  /* for details page */

.flex-container-deets {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly; 
    padding: 0;
    margin: 2rem 0 0 0;
    list-style: none;
    gap: 3rem 0rem;   
}

img.highlight {
object-fit: cover;
width:800px;
height:450px;
/* min-width: 20rem; */
max-width: 100%;
/* margin: 2rem; */
}

.detImgItem {
    flex-basis: 800px;
    left: 0px;
    margin-left: -10%;
    align-self: flex-start;
    /* display: flex; */
}

.detOfItem {
    flex-basis: 400px;
    /* margin-top: 2rem; */
    /* display: flex; */
}

@media all and (max-width: 500px) {
    .flex-container-deets {
        flex-direction: column;
    }
    img.highlight {
        object-fit: cover;
        width:450px;
        height:450px;
        /* max-width: 100%; */
        }
}

.cat-title {
    font-family: "Ame";   
    line-height: 2.8rem;
    font-size: 1.7rem;
    margin: 1em 2em;
    text-transform: uppercase;
    letter-spacing: 0.4rem;
}

.name {
    font-family: "Ame";   
    line-height: 2.8rem;
    font-size: 1.7rem;
    text-transform: uppercase;
}

.producttype {
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    font-size: 0.6rem;
}

.price {
    font-size: 1.6rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 300;
}

.description {
    font-size: 0.9rem;
}

.discover {
    text-transform: uppercase;
    font-size: 0.8rem;
    letter-spacing: 0.1rem;
}

.textrotate {
    transform: rotate(-90deg);
    transform-origin: 0 0;
    position: relative;
    margin-top: 17vh;
    margin-left: -2.5rem;
    font-size: 2.5rem;
    font-family: "Ame";
    color:#D9CFC1;
    text-align: right;
    
}

.infobox {
    background-color: #BA3F1D;
    width:45%;
    padding:1.5rem;
    position: relative;
    float: right;
    margin-top: -9rem;
}

button.add {
    display:inline-block;
    padding:1.45em 3em;
    border:0.16em solid #D9CFC1;
    margin:0 0.3em 0.3em 0;
    box-sizing: border-box;
    text-decoration:none;
    text-transform:uppercase;
    font-size: 0.7rem;
    letter-spacing: 0.1rem;
    /* font-weight:400; */
    color:#D9CFC1;
    text-align:center;
    transition: all 0.15s;
    background-color: rgba(0, 0, 0, 0);
}

button.add:hover {
    color:#081c15;
    border-color:#D9CFC1;
    background-color: #D9CFC1;
    cursor: pointer;
}
    
button.add:active {
    color:#D9CFC1;
    border-color:#D9CFC1;
}


button:focus:not(:focus-visible) {
    outline: none;
  }

@media all and (max-width:30em){
  a.button2{
    display: block;
    margin: 0.4em auto;
}
}

select {
    font-size: 0.7rem;
    display:inline-block;
    padding:0.6em 1em;
    border:0.16em solid #D9CFC1;
    margin:0.5em 1.5em 0.3em 0em;
    box-sizing: border-box;
    text-decoration:none;
    text-transform:uppercase;
    font-size: 0.7rem;
    letter-spacing: 0.1rem;
    color:#D9CFC1;
    text-align:center;
    transition: all 0.15s;
    background-color: rgba(165, 86, 86, 0);
}

select:focus:not(:focus-visible) {
    outline: none;
  }

.container-row {
    display: flex;
    align-items:flex-end;
  }

.quantity {
text-transform: uppercase;
letter-spacing: 0.1rem;
font-size: 0.6rem;
}

.instock {
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-size: 0.6rem;
    color: #73BF73;
    }

.deleteitem {
    cursor: pointer;
}

/* accordian for details */
.accordian{
    width: 100%;
    max-width: 80rem;
    margin: 0 auto;
    padding: 2rem 1.5rem;
    margin-bottom: 2em;
  }
  
  .accordion-item{
    /* background-color: #00000000; */
    /* border-radius: .4rem; */
  }
  
  .accordion-item hr{
    /* border: 1px solid rgba(255, 255, 255, 0.5); */
  }


.accordion-link{
    color: rgba(255,255,255,.8);
    text-decoration: none;
    /* background-color: #000000; */
    border-bottom: 1px solid #D9CFC1;;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 0;
    /* font-size: 0.9rem; */
    text-transform: uppercase;
    font-size: 0.65rem;
    letter-spacing: 0.2rem;
    
  }

  .accordion-link i{
    color: #e7d5ff;
    padding: .5rem;
    
  }
  .accordion-link ul{
    display:flex;
    align-items: flex-end;
    list-style-type: none;
    margin-left: 25px;
  }
  
  .accordion-link li{
    color: rgba(255, 255, 255, 0.4);
    padding: 0 0 1px 5px;
  }
  .accordion-link div{
    display: flex;
  }
  
  .accordion-link .ion-md-arrow-down{
    display: none;
  }
  
  .answer{
    max-height: 0;
    overflow: hidden;
    position: relative;
    /* background-color: #d9cfc12c; */
    transition: max-height 500ms;
  }
  
  
  .answer p{
    color: #D9CFC1;
    font-size: 0.8rem;
    padding: 0.5em 0;
    
  }
  
  .accordion-item:target .answer{
    max-height: 15rem;
  }
  
  .accordion-item:target .accordion-link .ion-md-arrow-forward{
    display: none;
  }
  
  .accordion-item:target .accordion-link .ion-md-arrow-down{
    display: block;
  }