.userpage-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly; 
    padding: 0rem;
    margin-top: 4rem;
    margin-bottom:3rem;
    list-style: none;
    gap: 0rem 1rem;   
    /* height: 100vh; */

}

/* .containtable {
    width:100%;
} */

.inlineitemslah {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;
    /* min-width:100%; */
    max-width: 93%;
    /* background-color: thistle; */

}


.userdeets-section {
    padding: 2rem;
    width: 20%;
    height: 20%;
    color: white;
    background-color: #BD280A;
    border-left: 5px solid tan;
    font-size: 1em;
    margin-right: auto;
    margin-right: 0.5rem;
    order: 1;
    display: flex;
}

.user-history {
    display: flex;
    width: 50rem;
    flex-flow: column;
    order: 2;
    /* align-items: stretch; */
}

.deetswrap {
    /* display: flex;
    align-items: flex-start; */
}

.historydeeets {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;
    /* min-width:100%; */
    max-width: 93%;
    border-radius: 0.3rem;
    border: 1px solid #BD280A;
    padding: 1rem 0rem 1rem 2rem;
    margin: 1rem 0rem;
    font-size: 0.9rem;
    transition: all 0.2s ease;
}

.historydeeets:hover {
    background-color: #BD280A;
}

.historyheader {
    background-color: #BD280A;
    padding: 0.5rem 0rem 0.5rem 2rem;
    margin: 2rem 0rem 1rem 0rem;
    font-family: "Ame";
    text-transform: uppercase;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;

}

.hello {
    font-size: 1.5rem;
    margin-top:0.5rem;
}

.his-summary-section {
    padding: 2rem;
    width: 20%;
    height: 20%;
    color: white;
    background-color: #BD280A;
    border-left: 5px solid tan;
    font-size: 1em;
    margin-left: auto;
    margin-left: 0.5rem;
    order: 1;
    display: flex;
}