@font-face {
  font-family: 'Ame';
  src: url('./customFont/Amelaryas.otf');
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,300;0,400;0,800;0,900;1,700&display=swap');

* {
  margin: 0;
  padding: 0;
  /* cursor: none; */
}


.appear{
  visibility: hidden;
}

.logo {
  font-family: 'Ame';
  font-size:1.3rem;
  padding-left: 3.5em;
  /* color: #AF8D86; */
  /* color: #AF8D86; */
  color: #a77e58;
}

.logo:hover{
  color: #a77e58;
}

body {
  font-family: 'Nunito Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100%;
}

.navbar {
  color: #AF8D86;
  text-transform: uppercase;
  letter-spacing: 0.15rem;
  font-size: 0.6rem;
  
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0.5rem 3rem;
}
.row.center {
  justify-content: center;
}
.row.top {
  align-items: flex-start;
}
.row.start {
  justify-content: flex-start;
}


img {
  /* border-radius: 1.5rem 1.5rem 0rem 0rem; */
}
img.small {
  object-fit: cover;
  width: 50px;
  height: 50px;
  /* max-width: 4rem; */
  max-height: 100%;
}

img.medium {
  max-width: 29rem;
  width: 100%;
}
img.large {
  width: 100%;
}

.badge {
  background-color: #AF8D86;
  color: #fff;
  border-radius: 50%;
  padding: 0.05rem 0.3rem;
  text-align: center;
  font-size: 0.6rem;
  margin-left: -0.3rem;
  margin-right: 0.7rem;
}

a {
  text-decoration: none;
  color: #AF8D86;
}
a:hover {
  color: #AF8D86;
}

.brand:hover {
  color: #a77e58;
}

.subtotal {
  background-color: tan;
  color: white;
  position: fixed;
  right: 0;
  /* top: 0; */
  height: 100vh;
  padding: 2rem;

}

.itemcol {
  position: relative;
  width: 50vw;
  left: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
li {
  margin-top: 1rem;
}

.form {
  max-width: 60rem;
  margin: 0 auto;
}
.form > div {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}
.form label {
  margin: 1rem 0;
}

.absolute {
  position: relative;
}

/* Dropdown */
.dropdown {
  display: inline-block;
  position: relative;
}
.dropdown-content {
  position: absolute;
  display: none;
  right: 0;
  min-width: 12rem;
  padding: 1rem;
  z-index: 1;
  background-color: #a77e58;
  color: #D9CFC1;
  transition: all 0.5s ease;

  /* margin: 1em; */
  /* margin-top: 0.2rem; */
  /* border-radius: 0.5rem; */
}
.dropdown:hover .dropdown-content {
  display: block;
  /* visibility: visible; */
}

/* Alert */
.loading {
  display: block !important;
}
.success {
  color: #20a020;
}
.danger {
  color: #a02020;
}
.alert {
  padding: 1rem;
  border: 0.1rem solid transparent;
  /* border-radius: 0.5rem; */
  background-color: #650D1B;
}
.alert-info {
  color: #2020a0;
  background-color: #e0e0ff;
}
.alert-danger {
  color: #D9CFC1;
  background-color: #650D1B;
  font-size: 0.8rem;
}
.alert-success {
  color: #20a020;
  background-color: #eeffe0;
}

/* checkout steps */

.checkout-steps > div {
  color: #AF8D86;
  flex: 1;
  padding: 1rem;
}

.checkout-steps > div.active {
  font-weight: bold;
}

.app-cursor {
  z-index: 1000;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-color: tan;
  pointer-events: none;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
  filter: sepia();

}

footer {
  padding-top: 20px;
  padding-bottom: 0px;
  margin-bottom: 0px;
  position:static;
  bottom:0px;
  width:100%;

  color: #AF8D86;
  text-align:center;
  text-transform: uppercase;
  font-size: 0.6rem;
  letter-spacing: 0.1rem;
  flex-shrink: 0;
}