@font-face {
  font-family: 'Ame';
  src: url('./customFont/Amelaryas.otf');
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
}

.ame {
  font-family: 'Ame';
}

body {
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100%;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0.5rem 2rem;
}
.row.center {
  justify-content: center;
}
.row.top {
  align-items: flex-start;
}
.row.start {
  justify-content: flex-start;
}
.col-1 {
  flex: 1 1 25rem;
}
.col-2 {
  flex: 2 1 50rem;
}
.col-3 {
  flex: 32 1 75rem;
}
.min-30 {
  min-width: 30rem;
}
.p-1 {
  padding: 1rem;
}

img {
  /* border-radius: 1.5rem 1.5rem 0rem 0rem; */
}
img.small {
  object-fit: cover;
  width:600px;
  height:600px;
  max-width: 5rem;
  max-height: 5rem;
}

img.medium {
  max-width: 29rem;
  width: 100%;
}
img.large {
  width: 100%;
}

.badge {
  background-color: #d2b48c;
  color: #ffffff;
  border-radius: 50%;
  padding: 0.2rem 0.6rem;
  font-size: 0.7rem;
  margin-right: 0.3rem;
}

a {
  text-decoration: none;
  color: black;
}
a:hover {
  color: tan;
}

.brand:hover {
  color: black;
}

.subtotal {
  background-color: tan;
  color: white;
  position: fixed;
  right: 0;
  /* top: 0; */
  height: 100vh;
  padding: 2rem;

}

.itemcol {
  position: relative;
  width: 50vw;
  left: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
li {
  margin-top: 1rem;
}

.card {
  border: 0.1rem #c0c0c0 solid;
  background-color: #f8f8f8;
  border-radius: 1.5rem;
  margin: 1rem;
}
.card-body {
  padding: 1rem;
}
.card-body > * {
  margin-bottom: 1rem;
}

.form {
  max-width: 60rem;
  margin: 0 auto;
}
.form > div {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}
.form label {
  margin: 1rem 0;
}

/* Dropdown */
.dropdown {
  display: inline-block;
  position: relative;
}
.dropdown-content {
  position: absolute;
  display: none;
  right: 0;
  min-width: 12rem;
  padding: 1rem;
  z-index: 1;
  background-color: tan;
  color: white;
  transition: all 0.5s ease;

  /* margin: 0; */
  /* margin-top: 0.2rem; */
  /* border-radius: 0.5rem; */
}
.dropdown:hover .dropdown-content {
  display: block;
  visibility: visible;
}

/* Alert */
.loading {
  display: block !important;
}
.success {
  color: #20a020;
}
.danger {
  color: #a02020;
}
.alert {
  padding: 1rem;
  border: 0.1rem solid transparent;
  border-radius: 0.5rem;
}
.alert-info {
  color: #2020a0;
  background-color: #e0e0ff;
}
.alert-danger {
  color: #a02020;
  background-color: #ffe0e0;
}
.alert-success {
  color: #20a020;
  background-color: #eeffe0;
}

/* checkout steps */

.checkout-steps > div {
  color: tan;
  flex: 1;
  padding: 1rem;
}

.checkout-steps > div.active {
  font-weight: bold;
}